.content {
	width: 86%;
	min-height: 600px;
	padding: 1em 2%;
	margin: 15px auto 40px auto;
}

.article {
	padding: 1em 2em 5em 5em;
	min-height: 600px;
}

.article {
	margin-top: 10px;
	line-height: 1.5;
}

.article h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0;
}

.right-pane {
	float: right;
	margin-top: -50px;
}

.data-time {
	margin: 1em 2em 0 0;
	font-weight: bold;
	text-align: right;
}

.btn-group {
	margin: 1em;
}

.next-btn {
	float: right;
}