.content {
	width: 86%;
	min-height: 600px;
	padding: 1em 2%;
	margin: 15px auto 40px auto;
}
.last-article {
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
}
.last-article h2 {
	font-size: 20px;
	font-weight: bold;
}

.article-item {
	margin-top: 10px;
	line-height: 30px;
}

.article-item a {
	margin-left: 1em;
	color: #058;
}

.right-pane {
	display: inline-block;
}