.content {
	width: 86%;
	min-height: 600px;
	padding: 1em 2%;
	margin: 15px auto 40px auto;
}

.last-article {
	display: inline-block;
	padding: 1em 3em;
	width: 60%;
	min-height: 600px;
	vertical-align: top;
}

.last-article h2 {
	font-size: 20px;
	font-weight: bold;
}

.post_item {
	margin-top: 10px;
	line-height: 30px;
}

.post_item a {
	margin-left: 1em;
	color: #058;
}

.post_item *:not(a) {
	font-size: 0.9em;
}

.post_item h1 {
	display: none;
}


@media screen and (max-width: 1050px) {
	.last-article {
		width: 50%;
	}
	.right-pane {
		width: 260px;
	}
}

@media screen and (max-width: 650px) {
	.last-article {
		width: 80%;
	}
	.right-pane {
		display: none;
	}
}