body {
	font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
	background: #544741;
	color: #333;
}
a {
	text-decoration: none;
}
header {
	height: 300px;
	width: 90%;
	margin: 0 auto;
	background-image:-webkit-linear-gradient(#fc9, #f99);
	background-image:-moz-linear-gradient(#fc9, #f99);
	background-image:-o-linear-gradient(#fc9, #f99);
	background-image:linear-gradient(#fc9, #f99);
	color: #fff;
	border-radius: 0 0 .3em .3em; 
}
.title {
	line-height: 300px;
	margin-left: 10%;
}
.title h1 {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	width: 100%;
}
.title h1 span {
	text-shadow: #ccc 0px 0px 10px;
}
.font-4 {
	font-size: 4em
}
.box-shadow {
	box-shadow: #555 2px 2px 6px;
}
.icon {
	position: absolute;
	top: 0;
	margin-left: 2em;
	height: 100px;
	width: 80px;
	background: url(.././images/logo.png);
	background-size: 100% 100%;
}
.white {
	color: #fff;
}
.icon, .navbar {
	display: inline-block;
}

.navbar-item {
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right: 2em;
}

.float-right {
	float: right;
}

.btn:before, .btn:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index: -1;
}
.btn:before {
	margin: -7.5px 0 0 -7.5px;
	width: 11px;
	height: 11px;
	border: 4px solid rgba(153, 204, 204, 0.5);
}

.btn:after {
	margin: -19.5px 0 0 -19.5px;
	width: 38px;
	height: 38px;
	border: 1px solid rgba(153, 204, 204, 0.5);
}

.btn:hover:before {
	opacity: 1;
	margin: -10px 0 0 -10px;
	width: 15px;
	height: 15px;
}

.btn:hover:after {
	opacity: 1;
	margin: -23px 0 0 -23px;
	width: 45px;
	height: 45px;
}

.fix-top {
	position: fixed;
	top: 0px;
	left: 0px;
	line-height: 50px;
	width: 100%;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.5);
}

.navbar a {
	color: #9cc;
	font-size: 20px;
	vertical-align: middle;
}