<header>
    <div class="logo"></div>
    <ul class="navbar">
        <li class="navbar-item btn-item btn">
            <i class="material-icons">home</i>
            <a href="/blog">Home</a>
        </li>
        <li class="navbar-item btn-item btn">
            <i class="material-icons">description</i>
            <a href="/archive/">Archive</a>
        </li>
        <li class="navbar-item btn-item btn">
            <i class="material-icons">assignment_ind</i>
            <a href="/about/">About</a>
        </li>
    </ul>

    <section class="animated bounce title">
        <h1>
            <span class="font-4">PengIvy Is A Girl</span><br/>
            <span>独立博客</span>
        </h1>
    </section>

</header>