<!DOCTYPE html>
<html>
<head>
    {% include metas.html %}
    {% include links.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    {% include header.html %}
    <section class="content">
		<div class="article text-blue">
			<div class="right-pane notice-orange">
    		
    		</div>
	    	{{ content }}
	    	<p class="data-time">
	    		<i class="material-icons">view_comfy</i>
	    		<span class="middle">{{ page.date | date_to_string }}</span>
	    	</p>
    	</div>
    	{% include btn-group.html %}
    	
	</section>

	{% include duoshuo.html %}

</body>
</html>